body{
    margin: 100px;
}

.general{
    display: flex;


}

.card5{
    width: 400px;
    height: 550px;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    margin-top: 20px;
    display: block;
    width: 100px;
    height: 100px;
    font-size: 40px;
    text-align: center;
}

.icon1 {
    margin-top: 20px;
    display: block;
    width: 99px;
    height: 90px;
    font-size: 40px;
    text-align: center;
}

.icon2 {
    margin-top: 20px;
    display: block;
    width: 90px;
    height: 90px;
    font-size: 40px;
    text-align: center;
}

.title{
    margin-top: 20px;
    font-size: 30px;
    color: #1212da;
    width: 80%;
    text-align: center;
}

.title1{
    margin-top: 30px;
    font-size: 30px;
    color: #1212da;
    width: 80%;
    text-align: center;
}

.title2{
    margin-top: 30px;
    font-size: 30px;
    color: #1212da;
    width: 80%;
    text-align: center;
}


.description{
    margin-top: 10px;
    font-size: 17px;

    text-align: center;
    display: flex;
    align-items: center;
    padding: 15px;
}

.description1{
    margin-top: 10px;
    font-size: 17px;

    text-align: center;
    display: flex;
    align-items: center;
    padding: 15px;
}

.button{
    margin-top: 10px;
    height: 70px;
    width: 80%;
    background: #1ca4e4;
    border: 1px solid black;
    border-radius: 50px;
    color: #ffffff;
    box-sizing: border-box;
    justify-content: center;

    display: flex;
    text-align: center;
    font-size: 28px;
    align-items: center;
}

.button1{
    margin-top: 70px;
    height: 70px;
    width: 80%;
    background: #1ca4e4;
    border: 1px solid black;
    border-radius: 50px;
    color: #ffffff;
    box-sizing: border-box;
    justify-content: center;

    display: flex;
    text-align: center;
    font-size: 28px;
    align-items: center;
}

.button2{
    margin-top: 50px;
    height: 70px;
    width: 80%;
    background: #1ca4e4;
    border: 1px solid black;
    border-radius: 50px;
    color: #ffffff;
    box-sizing: border-box;
    justify-content: center;

    display: flex;
    text-align: center;
    font-size: 28px;
    align-items: center;
}