body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.general{
    box-sizing: border-box;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;

}

.card5{
    width: 700px;
    height: 500px;
    margin: 20px;
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    margin-top: 20px;
    display: block;
    width: 100px;
    height: 100px;
    font-size: 40px;
    text-align: center;
    color: #151f28;
}

.title{
    margin-top: 20px;
    font-size: 30px;
    color: #1212da;
    width: 80%;
    text-align: center;
}

.description{
    margin-top: 10px;
    font-size: 17px;

    text-align: center;
    display: flex;
    align-items: center;
    padding: 15px;
}
.button{
    margin-top: 10px;
    height: 70px;
    width: 80%;
    background: #1ca4e4;
    border: 1px solid black;
    border-radius: 50px;
    color: #ffffff;
    box-sizing: border-box;
    justify-content: center;

    display: flex;
    text-align: center;
    font-size: 28px;
    align-items: center;

}