.general{
    display: flex;
    justify-content: center;

    margin-top: 100px;
}

.card5{
    width: 700px;
    height: 500px;
    margin: 20px;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-solid {
    margin-top: 30px;
    font-size: 100px;
    text-align: center;
    display: block;
    color: #151f28;
}