@media screen and (max-width: 1368px) {

    .onlyA{
        height: 200px;
    }


    .letters {
        flex-direction: column;
    }

    .bcdefg{
        width: 100%;
        height: 300px;
    }

    .onlyB {
        width: 33.3%;
        height: 150px;
    }

    .onlyC{
        width: 33.3%;
        height: 150px;
    }

    .onlyD{
        width: 33.3%;
        height: 150px;
    }

    .onlyE{
        width: 33.3%;
        height: 150px;
    }

    .onlyF{
        width: 33.3%;
        height: 150px;
    }

    .onlyG{
        width: 33.3%;
        height: 150px;
    }

    .onlyH{
        width: 100%;
        height: 300px;
    }
}