.card{
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 200px;
    
}

.icon{
    width: 100%;
    height: 75px;
    background: #5681a8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon1{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    position: relative;
    top: -38px;
}

.fa-user-group {
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 19px;
    
}
.title{
    width: 100%px;
    height: 75px;
    background: #91a856;
}