.oneblock {
    display: flex;
    justify-content: space-around;
    margin: 200px;
}

.card{
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    border: 1px solid black;
}

.icon{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    position: relative;
    top: -38px;
    background: white;
}

.fa-user-group {
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    font-size: 40px;
    position: absolute;
    top: 25px;
    left: 25px;
}
.title{
    width: 100%px;
    height: 65px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    font-size: 15px;
    padding: 20px;
    text-align: center;
    color: #575754;
}
.more {
    height: 50px;
    width: 250px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-left: 23px;
}
.more2{
    height: 50px;
    width: 250px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-left: 23px;
}

.link{
    padding-top: 10px;
    font-size: 25px;
    color: #2d2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
}
