body {
    margin: 70px;
}

.BackgroundBlue {
    background: #36cd9f;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card3 {
    width: 370px;
    height: 550px;
    background: #151f28;
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-quote-left {
    margin-top: 30px;
    font-size: 100px;
    text-align: center;
    display: block;
    color: #36cd9f;
}

.text {
    margin-top: 10px;
    font-size: 20px;
    color: #bebebc;
    font-family: Inter;
    width: 80%;
    text-align: center;
}

.pho{
    width: 30%;
}

.imagesss{
    margin-top: 20px;
    display: block;
    height: 150px;
    width: 100px;
    border-radius: 40px;
    text-align: center;
    box-sizing: border-box;
    border: 3px solid #bebebc;
}

.name{
    margin-top: 20px;
    font-size: 20px;
    color: #bebebc;
    font-family: Inter;
    text-align: center;
}