body {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.card {
    background: #f1efed;
    width: 400px;
    height: 500px;
    box-sizing: border-box;
    border: 1px solid #000000;

    display: flex;
    flex-direction: column;
}

.part1 {
    height: 120px;
    width: 100%;
    background: #5681a8;
    text-align: center;
    font-size: 30px;

.part2 {
    height: 200px;
    width: 100%;
    background: #56a85d;
}

.part3 {
    height: 50px;
    width: 50px;
    background: #d5bb94;
}