.card {
    background: bisque;
    width: 400px;
    height: 500px;
    box-sizing: border-box;
    border: 1px solid #000000;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.part1 {
    height: 50px;
    width: 50px;
    background: #5681a8;


}