.card{
    display: flex;
    justify-content: center;


}

.part1{
    background: bisque;
    width: 400px;
    height: 500px;
    box-sizing: border-box;
    border: 1px solid #000000;

    display: flex;
    

}