body {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.card {
    background: #f1efed;
    width: 350px;
    height: 500px;
    margin: 70px;
    box-sizing: border-box;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
}

.part1 {
    height: 160px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.part2 {
    height: 150px;
    width: 100%;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    display: flex;
    align-items: center;
}

.part3 {
    height: 70px;
    width: 100%;
    background: #d5bb94;

    box-sizing: border-box;
    justify-content: center;

    display: flex;
    text-align: center;
    font-size: 28px;
    align-items: center;

}